<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/me.png">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/static/scripts/scripts.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <script>
        var playlist = {{ playlist|tojson|safe }};
        console.log(playlist)
    </script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 logo-container">
                    <img src="/static/images/logo.png" alt="Logo" class="logo">
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div id="data" class="col-md-12 centered-div">
                <div>
                    <div class="container">
                    <form action="/" method="POST">
                        <h3>
                            I want the genre
                            <span class="genre-dropdown" id="genreDropdown">{{ genre }}</span>
                            <select class="form-control custom-dropdown" id="genreSelect" name="genre">
                                <option value="classical" {% if genre == "classical" %}selected{% endif %}>classical</option>
                                <option value="hiphop" {% if genre == "hiphop" %}selected{% endif %}>hiphop</option>
                                <option value="pop" {% if genre == "pop" %}selected{% endif %}>pop</option>
                                <option value="edm" {% if genre == "edm" %}selected{% endif %}>edm</option>
                            </select>
                        </h3>
                        <button class="btn btn-primary" type="submit">Start</button>
                    </form>
                    <h3 id="accel_value">0</h3>
                    <h3 id="energy_value">0</h3>
                    <h3 id="cadence_value">0</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 centered-div">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <img id="art" src="{{ image }}" alt="song cover" class="img-fluid">
                            <ul class="list-unstyled mt-3">
                                <li><strong>Song Name:</strong> {{ playlist[0]['name'] }}</li>
                                <li>
                                    <strong>{% if playlist[0]['artists'] |length > 1 %}Artists{% else %}Artist{% endif %}:</strong>
                                    {% if playlist[0]['artists']|length > 1 %}
                                        {{ playlist[0]['artists']|join(', ') }}
                                    {% else %}
                                        {{ playlist[0]['artists'] }}
                                    {% endif %}
                                </li>
                                <li><strong>Energy:</strong> {{ (playlist[0]['energy'] * 100) | round|int }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>